.createFormCard {
	text-align: center;
	height: 75vh;
}

.createTaskPage {
	background: url("https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1532&q=80");
	height: 100vh;
	
}