body {
	height: 100vh;
	overflow: hidden;
	
}


.homebackground {
	color: white;
	text-align: center;
	background: url("https://images.unsplash.com/photo-1502228362178-086346ac6862?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=80"); 
	height: 96%;
	width: 100vw; 
	background-size: cover;
}


.dashboardMain{
	color: white;
	background: url("https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
	background-size: cover;
	height: 100%;
	width: 100vw;
	text-align: center;
}

.modal-content {
	color: black;
}

.dashboardJobCard {
	background: rgba(0,0,0,.7);
	width: 90vw;
	border: none;
}

.jobsContainerCard {
	background: rgba(0,0,0,0);
	border: none;
	height: 68vh;
	overflow-y: auto; 
	overflow-x: hidden;
}


.userName {
	text-align: center; 
	color: white;
	display: inline-block;
	z-index: 1;
}

.jobHeader {
	width: 90vw;
}

.fixedusername {
	z-index: 1;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.1);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rbga(0,0,0,.1);
}
